.playerHighlight{
    border:2px solid red;
}
td{
    vertical-align: middle;
    top:50%;
}
.player{
    font-size:9pt;
    font-weight:normal;
    z-index: 99;
}
.PlayerIn li.opponent{
    height:40px;
    width: 40px;
    color: #fff;
    background-color: #222;
    border:3px solid #000;
    border-radius: 40px;
    z-index: 99;
    font-size:14pt;
    font-weight: bolder;
    padding-top: 0.8em;
}
div.stat-hover{
    border: 1px dotted #f00;
    background-color: #eee;
    color:#f00;
}
div.stat-accepted{
    border: 3px dotted #002a80;
    background-color: #ffff00;
    color:#002a80;
}
.opponent{
    background-color: #888;
    z-index: 100;
}
tr.gamelogrow{
    height:20px;
    width:100%;
}
tr.gamelogrow-a{background-color: #aaa;}
tr.gamelogrow-b{background-color: #fff;}

div#report table td{
    border:1px solid #aaa;
    font-size: 10pt;
    text-align:left;
    font-weight: bolder;
    background-color: #fff;
    color: #333;
}
div#report table th{
    border:0px solid #888;
    font-size: 8pt;
    font-weight: bolder;
    text-align:center;
    background-color: transparent;
}

div#report table th.teamname, div#report table th.playername{
    border:1px solid #888;
    font-size: 12pt;
    font-weight: bolder;
    text-align:left;
    color:#000;
    background-color: #fff;
}
div#report table th.teamname{
    border:1px solid #888;
    font-size: 12pt;
    font-weight: bolder;
    text-align:left;
    color:#aaa;
    background-color: #000;
}

#PlayerOut {
    float: left;
    width: 100%;
    min-height: 3em;
    background-color: darkgray;
    border: 1px solid black;
}
#PlayerIn {
    float: left;
    width: 100%;
    min-height: 3em;
    background-color: lightgray;
    border: 1px solid black;
}
.PlayerOut li{
    float: left;
    width: 75px;
    height: 45px;
    margin: 0;
    text-align: center;
    background-color: #bbb;
    border-radius: 10px;
    font-weight: normal;
    border: 1px dotted #000;
}
.PlayerIn li{
    float: left;
    width: 75px;
    height: 50px;
    margin: 0;
    text-align: center;
    background-color: #dbc59e;
    border: 2px solid #9d261d;
    border-radius: 7px;
    color:darkred;
    font-weight: bold;
}
.PlayerIn li span.playertext{
    font-weight: bold;
}

ul.StatsDrop, ul.StatsDrop li{
    float: left;
    text-decoration: none;
    list-style: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    align-content: stretch;
    max-height: 100px;
    position:relative;
    text-align: center;
    border-radius: 10px;
    font-weight: normal;
    display: list-item;
    -webkit-padding-start:0px;
}
ul.StatsDropCat {
    float: left;
    text-decoration: none;
    list-style: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    align-content: stretch;
    font-weight: normal;
    display: list-item;
    -webkit-padding-start:0px;
}

.stat{
    z-index: -1;
    min-width:70px;
    max-width:100px;
    max-height:55px;
    background-color: #000;
    color:#fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 1px;
    height:50px;
}
.gamestat{
    z-index: -1;
    height:50px;
    width:100%;
    padding: 2.1em 0.1em 0.1em 0.1em;
    margin: 0.1em 0.1em 0.1em 0.1em;
    background-color: #333;
    color:#ddd;
    text-align: center;
    border: 2px solid #008;
    border-radius: 20px;
}
.gamestat:hover{
    z-index: -1;
    background-color: #fff;
    color:#111;
    cursor: pointer;
    border: 2px solid #111;
}
.sliderlabels {
    position: absolute;
    top:150%;
    font-size: 8pt;
    font-weight: bold;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
    padding: .1em .5em;
}

div#custom-handle{
    width:3em;
    border:1px solid #000088;
    color:#fff;
    background: #000 url('') 50% 50% repeat;
    padding:.1em;
    text-align: center;
    font-size: 8pt;

}
div.statContainer
{
    width:500px;
}

div.statheader
{
    position:relative;
}
span.stattext
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    position: absolute;
    left: 3px;
    bottom: 2px;
    font-size: 9pt;
}
div.playercontainer{
    position: relative;
    width:100%;
    height: 100%;
}
span.playertext
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    position: absolute;
    left: 5px;
    top: 1px;
    font-size: 9pt;
}




@media screen and (max-width: 415px) {
    div.statContainer
    {
        width:98%;
    }
    .PlayerIn li,.PlayerOut li{
        width: 56px;
        height: 50px;
        padding-top: 0.8em;
        margin: 0 0.1em 0.1em 0;
    }
    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        padding: .1em .5em;
        font-size:10pt;
    }
    .ui-widget {
        font-size: 9pt;
    }
    .stat {
        height:110px;
        width:95px;
        padding:6px;
        min-width:50px;
    }
}
@media screen and (max-width: 360px) {
    .PlayerIn li,.PlayerOut li{
        width: 35px;
        height: 40px;
        padding-top: 0.8em;
        margin: 0 0.1em 0.1em 0;
    }
    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        padding: .1em .5em;
        font-size:10pt;
    }
    .ui-widget {
        font-size: 8pt;
    }
    .stat {
        padding:3px;
        min-width: 50px;
    }

}
@media screen and (max-width: 325px) {
    .PlayerIn li,.PlayerOut li{
        width: 30px;
        height: 40px;
        padding-top: 0.8em;
        margin: 0 0.1em 0.1em 0;
        font-size: 8pt;
    }
    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        padding: .1em .5em;
        font-size:10pt;
    }
    .ui-widget {
     font-size: 8pt;
    }
    .stat {
        padding:3px;
        min-width: 40px;
    }
}

